<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
  <system>
    <tab id="f30studio" translate="label" sortOrder="10">
      <label>F30 Studio</label>
    </tab>
  </system>
</config>
